<div class="profile-container row mt-5">
  <div class="img mr-3">
    <img style="width: 18rem;" src="{{user.image}}" alt="Card image cap">
  </div>
  <div style="width: 18em;">
    <div class="card-body">
      <h5 class="title">{{user.name}}</h5>
      <p calss="email">{{user.email}}</p>
      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    </div>
  </div>
</div>